/* admin.css */

body {
  font-family: 'Nunito', sans-serif;
  background: #1A1410;
  color: #f9fafa;
  margin: 0;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 180px;
  margin: 0 auto 20px;
}

.logo img {
  width: 100%;
  height: auto;
  display: block;
}

.panel {
  max-width: 400px;
  width: 100%;
  padding: 25px;
  background: #2E241D;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.panel h1 {
  text-align: center;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 18px;
  width: 100%;
}

.input-group label {
  display: block;
  margin-bottom: 6px;
  font-size: 15px;
  font-weight: 600;
}

input[type="number"], input[type="text"] {
  width: 90%;
  padding: 12px;
  border: 1px solid #46403B;
  border-radius: 8px;
  font-size: 16px;
  background: #1A1410;
  color: #fff;
}

input::placeholder {
  color: #c7c7c7;
  opacity: 0.8;
}

button {
  width: 70%;
  padding: 14px;
  background: #64B346;
  font-family: 'Nunito', sans-serif;
  border: none;
  border-radius: 8px;
  color: #211A15;
  font-size: 17px;
  cursor: pointer;
  margin-top: 10px;
  font-weight: 600;
  display: block;
  margin: 0 auto;
}

button:hover {
  background: #25d366;
  color: #000000;
}
